@font-face {
  font-family: 'Catherine';
  src: url('../Constants/Catherine-Regular.ttf') format('truetype');
}

/* Set Catherine Font Family */
.cath-font {
  font-family: 'Catherine' !important;
}

/* Set Ubuntu Font */
.ubuntu-font {
  font-family: 'Ubuntu', sans-serif;
}

/* 1em font size */
.one-em {
  font-size: 1em !important;
}

/* 2em font size */
.two-em {
  font-size: 2em;
}

/* Set Dark Mode background color */
.dark-mode-bg {
  background-color: #343a40;
  /* background-color: #f2f2f2 !important; */
}

/* Set Main Yellow Color Background */
.background-coy-color {
  background-color: #FCD503 !important;
  /* background-color: #f2f2f2 !important; */
}

/* Set Black Background Color */
.header-bg-color {
  background-color: #f2f2f2 !important;
  /* background-color: #0C0D02 !important; */
}

/* Set Brownish Background Color */
.body-bg-color {
  background-color: #E6E6E4 !important;
  /* background-color: #F46E00 !important; */
}

/* Set Main Yellor Color Font */
.company-color {
  color: #FCD503;
}

/* Black Font Color */
.font-bg-color {
  color: #0C0D02 !important;
}

/* Brownish Font Color */
.coy-headings {
  color: #000000 !important;
}

/* White Font */
.white-font {
  color: #f2f2f2 !important;
}

/* Make on hover to be light blue color */
.navbar-dark .navbar-nav .nav-link:hover {
  /* color: #38A0FF !important; */
  color: #1E7CFF !important;
}

/* Make nav bar buttons black */
.btn-outline-dark {
  color: #0C0D02 !important;
  border-color: #0C0D02 !important;
}

.btn-outline-dark:hover {
  color: #fff !important;
  border-color: #0C0D02 !important;
  background-color: #0C0D02 !important;
}

/* Make nav bar buttons black */
.btn-dark {
  background-color: #0C0D02 !important;
  border-color: #0C0D02 !important;
}

.blue-font-color {
  color: #007bff !important;
}

/* A ten pixel margin left and right */
.ten-pixel-margin {
  margin: 0 10px 0 10px;
}

/* Margin between each other top and bottom */
.top-bot-margin {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

/* Set Card Background Color */
.bg-my-color {
  background-color: #FCD503 !important;
}

/* Set Card Text Color */
.text-my-color {
  color: #007bff !important;
}

/* Take Full Height */
.take-full-height {
  height: 100%;
}

/* Change btn-outline-warning button color */
.btn-outline-warning:hover {
  background-color: #FCD503 !important;
}

/* Change btn-warning button color */
.btn-warning {
  background-color: #FCD503 !important;
}

/* Coy Badge Colourings */
.badge-coy {
  color: #0C0D02 !important;
  background-color: #FCD503 !important;
}

/* On hover, change color of list item */
/* .hover-bg-change {
  color: #fff !important;
  background-color: #007bff !important;
} */

/* On hover, change color of list item */
.list-group-item-action:hover {
  color: #fff !important;
  background-color: #007bff !important;
}

/* For Phones */
.phone-margin-top-bot {
  margin-top: 0;
  margin-bottom: 0;
}

/* Left margin */
.mt-1half {
  margin-top: .375rem !important;
}

/* nav bar grey disabled */
.nav-grey-disabled {
  color: #6C757D !important;
  pointer-events: none;
  cursor: default;
}

/* Arvo Font */
.arvo-font {
  font-family: 'Arvo', serif;
}

/* For Phones */
@media (max-width: 576px) {
  .phone-margin-top-bot {
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

/* For Tablets */
@media (max-width: 992px) {
  .full-width {
    min-width: 90px;
    width: 15%;
  }

  .ten-pixel-margin {
    margin: 0;
  }

  .top-margin {
    margin-top: 1.5%;
  }
}