body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url('../Components/images/signup2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

/* Slight Right Margin */
.slight-right-margin {
  margin-right: 2%;
}

/* Padding */
.jumbo-padding {
  padding: 4rem 2rem;
}

@media (max-width: 576px) {
  body {
    height: 100%;
  }

  .phone-slight-top-margin {
    margin-top: 10%;
  }
}

/* Left margin */
.mt-1half {
  margin-top: .375rem !important;
}

/* Pill Background Color */
.very-red-bg {
  background-color: #FF2A05 !important;
}