html, body {
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  width: 100%;
}

.jumbotron {
  padding: 1rem 0.5rem;
}

.jumbo-img {
  background-image: url('../Components/images/index2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Margin Top Bottom */
.slight-margin-top-bot {
  margin-top: 2%;
  margin-bottom: 2%;
}

/* For Phones */
@media (max-width: 576px) {
  .slightly-smaller-font-h1 {
    font-size: 2.5rem !important;
  }
}

/* Greyish Font */
.carousel-font {
  color: #D8D8D8 !important;
}

/* Text Shadow Effect */
.shadow-effect {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* For Scrollable List Group */
/* .list-group {
  max-height: 210px;
  margin-bottom: 10px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
} */